<% layout('layouts/boilerplate') %>
<div id="cluster-map" class="campground-index__map"></div>
<div class="campground-index__container">
<h1 class="mt-5 mb-2 campground-index__h1">All Campgrounds</h1>
  <% for (let campground of campgrounds) {%>
  <div class="card d-flex flex-row justify-content-between mb-3 campground-index__card">
    <div class="d-flex flex-row">
      <% if (campground.images.length > 0) { %>
        <img crossorigin="anonymous" class="rounded" src=<%= campground.images[0].url.replace('/upload', '/upload/c_fill,h_150,w_150')%>
         alt="" />
       <% } %>
       <div class="card-body">
        <h5 class="card-title"><%= campground.title  %></h5>
        <p class="card-text"><%= campground.description  %></p>
        <p class="card-text">
          <small class="text-body-secondary"><%= campground.location  %></small>
        </p>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <a class="btn btn-dark campgrounds-index__btn" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
    </div>
    
    <!-- <div class="row px-4">
      <div class="col-md-4">
        <% if (campground.images.length > 0) { %>
        <img crossorigin="anonymous" class="rounded" src=<%= campground.images[0].url.replace('/upload', '/upload/c_fill,h_150,w_150')%>
         alt="" />
       <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title  %></h5>
          <p class="card-text"><%= campground.description  %></p>
          <p class="card-text">
            <small class="text-body-secondary"><%= campground.location  %></small>
          </p>
        </div>
      </div>
    </div> -->
  </div>
  <hr/>
  <% } %>
</div>

<script>
  const mapToken = "<%= process.env.MAPBOX_TOKEN %>";
  // console.log('script ran');
  const campgrounds = {
    features: <%- JSON.stringify(campgrounds) %>
}
  console.log(campgrounds);
</script>

<script src="/javascripts/clusterMap.js"></script>
